{{template "header" .}}
 <link href="{{.cdnDomain}}/css/skinSo20190816.css?version={{.version}}" rel="stylesheet" type="text/css" />

<body onclick="closeshowBos()">
{{template "nav" .}}
{{$cdnDomain := .cdnDomain}}
{{$webDomain := .webDomain}}
{{$dynastyName :=.dynastyName}}
<div class="main3">
    <div class="left">
        <div class="titletype">
            <div class="son1"><h1>不限<span>{{.page}} / {{.countPage}}页</span></h1></div>

            <div class="son2" style=" border-bottom:0px; padding-bottom:15px;">
                <div class="sleft">
                    <span style="width:auto;">朝代：</span>
                </div>
                <div class="sright" style="width:580px;">
                    {{if eq $dynastyName ""}}
                         <span style=" width:auto;">不限</span>
                        {{else}}
                        <a style=" width:auto; margin-left:16px;" href="{{$webDomain}}/author/list/">不限</a>
                    {{end}}

                    {{range $i,$dynasty := .dynastyData}}
                        {{if eq $dynasty.DynastyName $dynastyName}}
                               <span style=" width:auto; margin-left:16px;">{{$dynasty.DynastyName}}</span>
                         {{else}}
                            <a style=" width:auto; margin-left:16px;" href="{{$webDomain}}/author/list/?dynasty_name={{$dynasty.DynastyName}}">{{$dynasty.DynastyName}}</a>
                       {{end}}
                    {{end}}
                </div>
            </div>
        </div>

        {{range $i,$author := .authorData}}
        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor{{$author.Id}}">{{$author.AuthorIntro}}  {{$webDomain}}/author/detail?value={{$author.Author}}</textarea>
        </div>
        <div class="sonspic">
            <div class="cont" style="margin-top:13px;">
                <div class="divimg" style="margin-top:2px;">
                    <a href="{{$webDomain}}/author/detail?value={{$author.Author}}" target="_blank">
                        <img src="{{$author.PhotoUrl}}" width="105" height="150" alt="{{$author.Author}}"/></a>
                </div>

                <p style="height:22px;">
                    <a target="_blank" style="font-size:18px; line-height:22px; height:22px;" href="{{$webDomain}}/author/detail?value={{$author.Author}}"><b>{{$author.Author}}</b></a>
                    </p>
                <p style=" margin:0px;">{{$author.AuthorIntro}}
                    {{if gt $author.PoetryCount 0}}
                        <a target="_blank" href="{{$webDomain}}/author/poetryList?value={{$author.Author}}">► {{$author.PoetryCount}}篇诗文</a>
                    {{end}}
                    </p>
            </div>
            <div class="tool">
                <div class="toolpinglun"><a href="javascript:copyAuthor({{$author.Id}})"><img src="{{$cdnDomain}}/images/copy.png" alt="复制" width="18" height="18" /></a></div>
                <div class="jiucuo"><a href="{{$webDomain}}/perfect?type=authorDetail&u={{$author.Id}}" target="_blank">完善</a></div>
            </div>
        </div>
{{end}}
        <form id="FromPage" method="get" action="{{.pageUrl}}" onsubmit="return PageSubmit()">
            <div class="pagesright">

                {{if le .nextPage .countPage}}
                    <a id="amore" class="amore" href="{{.pageUrl}}&page={{.nextPage}}">下一页</a>
                {{else}}
                    <a style=" color:#808080;background-color:#e7e6d8;">下一页</a>
                {{end}}

                {{if gt .page 1}}
                    <a href="{{.pageUrl}}&page={{.prevPage}}">上一页</a>
                {{else}}
                    <a style=" color:#808080;background-color:#e7e6d8;">上一页</a>
                {{end}}

                <span style=" background-color:#E1E0C7; border:0px; margin-top:22px; width:auto;">/ {{.countPage}}页</span>
                <span class="curent"><input id="putpage" name="page" value="{{.page}}" autocomplete="off" onblur="SubPage()" /></span>
                <label id="temppage" style="display:none;">{{.page}}</label>
                <label id="sumPage" style="display:none;">{{.countPage}}</label>
                <input type="hidden" name="dynasty_name" value="{{.dynastyName}}" />
            </div>
        </form>
    </div>

    <div class="right">
        <div class="sons">
            <div class="title">
                <div class="titleleft"></div>
                作者
            </div>
            <div class="cont">
                {{range $i,$author :=.rightAuthor}}
                       <a target="_blank" href="{{$webDomain}}/author/detail?value={{$author.Author}}">{{$author.Author}}</a>
               {{end}}
            </div>
        </div>
    </div>
</div>

{{template "footer" .}}
<script type="text/javascript">
    window.onload = function () {
        setIframeHeight(document.getElementById('external-frame'));
    };
</script>
<script defer="defer" src="{{.cdnDomain}}/js/skinso20190931.js?version={{.version}}" type="text/javascript"></script>
</body>
</html>
