{{template "header" .}}

<body onclick="closeshowBos()">
{{template "nav" .}}
<div class="main3" >
    <div class="left">
        {{$cdnDomain := .cdnDomain}}
        {{range $i,$content := .contentData.ContentArr}}
            {{$poetryInfo := $content.PoetryText.PoetryInfo}}
            {{$authorInfo := $content.PoetryAuthor}}

            <div style=" width:1px; height:1px; overflow:hidden;">
                <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare{{$poetryInfo.SourceUrlCrc32}}">{{$content.PoetryText.OriContent}} {{$content.PoetryText.LinkUrl}}</textarea>
            </div>
            <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="{{$cdnDomain}}/static/images//shangpic.png"  width="25" height="25" alt="赏析" data-type="0" onclick="OnNewShangxi('{{$poetryInfo.SourceUrlCrc32}}','Shangxi')" id="btnShangxi{{$poetryInfo.SourceUrlCrc32}}"/>
                    <img  src="{{$cdnDomain}}/static/images//yipic.png" width="25" height="25" alt="译文" data-type="0" onclick="OnNewShangxi('{{$poetryInfo.SourceUrlCrc32}}','Yiwen')" id="btnYiwen{{$poetryInfo.SourceUrlCrc32}}" />
                 </div>
                <p>
                    <a style="font-size:18px; line-height:22px; height:22px;" href="{{$content.PoetryText.LinkUrl}}" target="_blank">
                        <b>{{$poetryInfo.Title}}</b>
                    </a>
                </p>
                <p class="source">
                    <a href="{{$authorInfo.DynastyLinkUrl}}" target="_blank">{{$authorInfo.DynastyName}}</a>
                    <span>：</span><a href="{{$authorInfo.AuthorLinkUrl}}" target="_blank">{{$authorInfo.AuthorInfo.Author}}</a>
                </p>
                <div class="contson" id="contson{{$poetryInfo.SourceUrlCrc32}}">
                    {{$poetryInfo.Content|unescaped}}
                    <span id="notes{{$poetryInfo.SourceUrlCrc32}}"></span>
                </div>
            </div>
            <div class="tool">
                <div class="toolpinglun"><a title="复制" href="javascript:copy({{$poetryInfo.SourceUrlCrc32}})"><img src="{{$cdnDomain}}/static/images/copy.png" alt="复制" width="18" height="18" /></a></div>
                <div class="jiucuo"><a href="/perfect?u={{$poetryInfo.SourceUrlCrc32}}" target="_blank">完善</a></div>
            </div>
            <div class="tag">
                {{range $j,$tag := $content.Tags}}
                  {{if ge $j 1}}
                      <span>，</span>
                  {{end}}
                <a href="/search/?type=tag&cstr={{$tag.CatName}}" target="_blank">{{$tag.CatName}}</a>
                {{end}}
            </div>
        </div>
        {{end}}









        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('8de1d073626d','http://www.gushiwen.org/default.aspx')" id="btnBeisong8de1d073626d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('8de1d073626d')" id="btnShangxi8de1d073626d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('8de1d073626d')" id="btnZhushi8de1d073626d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('8de1d073626d')" id="btnYiwen8de1d073626d" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi8de1d073626d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi8de1d073626d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen8de1d073626d").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_8de1d073626d.aspx" target="_blank"><b>玉京秋·烟水阔</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%ae%8b%e4%bb%a3" target="_blank">宋代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e5%91%a8%e5%af%86" target="_blank">周密</a></p>
                <div class="contson" id="contson8de1d073626d">
                    长安独客，又见西风，素月丹枫凄然其为秋也，因调夹钟羽一解<br />烟水阔。高林弄残照，晚蜩凄切。碧碪度韵，银床飘叶。衣湿桐阴露冷，采凉花、时赋秋雪。叹轻别。一襟幽事，砌蛩能说。 <br />客思吟商还怯。怨歌长、琼壶暗缺。翠扇恩疏，红衣香褪，翻成消歇。玉骨西风，恨最恨、闲却新凉时节。楚箫咽。谁倚西楼淡月。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg63505" name="0" onload="selectLike(63505)" onclick="changeLike(63505,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(63505)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%878de1d073626d%e3%80%8a%e7%8e%89%e4%ba%ac%e7%a7%8b%c2%b7%e7%83%9f%e6%b0%b4%e9%98%94%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay63505" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89" target="_blank">宋词精选</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%a7%8b%e5%a4%a9" target="_blank">秋天</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e6%99%af" target="_blank">写景</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%80%80%e4%ba%ba" target="_blank">怀人</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%a7%8b%e6%80%9d" target="_blank">秋思</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('329fc10777f4','http://www.gushiwen.org/default.aspx')" id="btnBeisong329fc10777f4"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('329fc10777f4')" id="btnShangxi329fc10777f4"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('329fc10777f4')" id="btnZhushi329fc10777f4"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('329fc10777f4')" id="btnYiwen329fc10777f4" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi329fc10777f4").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi329fc10777f4").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen329fc10777f4").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_329fc10777f4.aspx" target="_blank"><b>风流子·新绿小池塘</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%ae%8b%e4%bb%a3" target="_blank">宋代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e5%91%a8%e9%82%a6%e5%bd%a6" target="_blank">周邦彦</a></p>
                <div class="contson" id="contson329fc10777f4">
                    新绿小池塘，风帘动、碎影舞斜阳。羡金屋去来，旧时巢燕；土花缭绕，前度莓墙。绣阁里、凤帏深几许？听得理丝簧。欲说又休，虑乖芳信；未歌先噎，愁近清觞。<br />遥知新妆了，开朱户，应自待月西厢。最苦梦魂，今宵不到伊行。问甚时说与，佳音密耗，寄将秦镜，偷换韩香？天便教人，霎时厮见何妨。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg51120" name="0" onload="selectLike(51120)" onclick="changeLike(51120,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(51120)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="toolpinglun"><a href="javascript:Play(51120)"><img id="speakerimg51120" src="https://song.gushiwen.org/siteimg/speaker.png" / alt="" width="18" height="18"/></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87329fc10777f4%e3%80%8a%e9%a3%8e%e6%b5%81%e5%ad%90%c2%b7%e6%96%b0%e7%bb%bf%e5%b0%8f%e6%b1%a0%e5%a1%98%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay51120" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%80%80%e4%ba%ba" target="_blank">怀人</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%a5%b3%e5%ad%90" target="_blank">女子</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%80%9d%e5%bf%b5" target="_blank">思念</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%81%8b%e6%83%85" target="_blank">恋情</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('738cf431555c','http://www.gushiwen.org/default.aspx')" id="btnBeisong738cf431555c"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('738cf431555c')" id="btnShangxi738cf431555c"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('738cf431555c')" id="btnZhushi738cf431555c"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('738cf431555c')" id="btnYiwen738cf431555c" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi738cf431555c").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi738cf431555c").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen738cf431555c").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_738cf431555c.aspx" target="_blank"><b>雪里梅花诗</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%8d%97%e5%8c%97%e6%9c%9d" target="_blank">南北朝</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e9%98%b4%e9%93%bf" target="_blank">阴铿</a></p>
                <div class="contson" id="contson738cf431555c">
                    春近寒虽转，梅舒雪尚飘。<br />从风还共落，照日不俱销。<br />叶开随足影，花多助重条。<br />今来渐异昨，向晚判胜朝。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg71691" name="0" onload="selectLike(71691)" onclick="changeLike(71691,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(71691)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87738cf431555c%e3%80%8a%e9%9b%aa%e9%87%8c%e6%a2%85%e8%8a%b1%e8%af%97%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay71691" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e9%9b%aa" target="_blank">写雪</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%a2%85%e8%8a%b1" target="_blank">梅花</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e8%b5%9e%e7%be%8e" target="_blank">赞美</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%93%81%e6%a0%bc" target="_blank">品格</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('f30f9f604cd9','http://www.gushiwen.org/default.aspx')" id="btnBeisongf30f9f604cd9"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('f30f9f604cd9')" id="btnShangxif30f9f604cd9"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('f30f9f604cd9')" id="btnZhushif30f9f604cd9"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('f30f9f604cd9')" id="btnYiwenf30f9f604cd9" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxif30f9f604cd9").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushif30f9f604cd9").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwenf30f9f604cd9").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_f30f9f604cd9.aspx" target="_blank"><b>东门之墠</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%85%88%e7%a7%a6" target="_blank">先秦</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e4%bd%9a%e5%90%8d" target="_blank">佚名</a></p>
                <div class="contson" id="contsonf30f9f604cd9">
                    <p>东门之墠，茹藘在阪。其室则迩，其人甚远。<br />东门之栗，有践家室。岂不尔思？子不我即！</p>
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg88" name="0" onload="selectLike(88)" onclick="changeLike(88,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(88)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87f30f9f604cd9%e3%80%8a%e4%b8%9c%e9%97%a8%e4%b9%8b%e5%a2%a0%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay88" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e8%af%97%e7%bb%8f" target="_blank">诗经</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%88%b1%e6%83%85" target="_blank">爱情</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('b8c4580f9172','http://www.gushiwen.org/default.aspx')" id="btnBeisongb8c4580f9172"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('b8c4580f9172')" id="btnShangxib8c4580f9172"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('b8c4580f9172')" id="btnZhushib8c4580f9172"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('b8c4580f9172')" id="btnYiwenb8c4580f9172" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxib8c4580f9172").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushib8c4580f9172").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwenb8c4580f9172").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_b8c4580f9172.aspx" target="_blank"><b>幽居</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3" target="_blank">唐代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e9%9f%a6%e5%ba%94%e7%89%a9" target="_blank">韦应物</a></p>
                <div class="contson" id="contsonb8c4580f9172">
                    贵贱虽异等，出门皆有营。<br />独无外物牵，遂此幽居情。<br />微雨夜来过，不知春草生。<br />青山忽已曙，鸟雀绕舍鸣。<br />时与道人偶，或随樵者行。<br />自当安蹇劣，谁谓薄世荣。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg9052" name="0" onload="selectLike(9052)" onclick="changeLike(9052,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(9052)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87b8c4580f9172%e3%80%8a%e5%b9%bd%e5%b1%85%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay9052" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e6%99%af" target="_blank">写景</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e9%97%b2%e9%80%82" target="_blank">闲适</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%94%9f%e6%b4%bb" target="_blank">生活</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('518399486d1e','http://www.gushiwen.org/default.aspx')" id="btnBeisong518399486d1e"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('518399486d1e')" id="btnShangxi518399486d1e"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('518399486d1e')" id="btnZhushi518399486d1e"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('518399486d1e')" id="btnYiwen518399486d1e" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi518399486d1e").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi518399486d1e").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen518399486d1e").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_518399486d1e.aspx" target="_blank"><b>春日秦国怀古</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3" target="_blank">唐代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e5%91%a8%e6%9c%b4" target="_blank">周朴</a></p>
                <div class="contson" id="contson518399486d1e">
                    荒郊一望欲消魂，泾水萦纡傍远村。<br />牛马放多春草尽，原田耕破古碑存。<br />云和积雪苍山晚，烟伴残阳绿树昏。<br />数里黄沙行客路，不堪回首思秦原。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg36549" name="0" onload="selectLike(36549)" onclick="changeLike(36549,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(36549)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="toolpinglun"><a href="javascript:Play(36549)"><img id="speakerimg36549" src="https://song.gushiwen.org/siteimg/speaker.png" / alt="" width="18" height="18"/></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87518399486d1e%e3%80%8a%e6%98%a5%e6%97%a5%e7%a7%a6%e5%9b%bd%e6%80%80%e5%8f%a4%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay36549" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%98%a5%e5%a4%a9" target="_blank">春天</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%80%80%e5%8f%a4" target="_blank">怀古</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e4%bc%a4%e6%80%80" target="_blank">伤怀</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('5dab566dc1bc','http://www.gushiwen.org/default.aspx')" id="btnBeisong5dab566dc1bc"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('5dab566dc1bc')" id="btnShangxi5dab566dc1bc"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('5dab566dc1bc')" id="btnZhushi5dab566dc1bc"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('5dab566dc1bc')" id="btnYiwen5dab566dc1bc" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi5dab566dc1bc").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi5dab566dc1bc").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen5dab566dc1bc").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_5dab566dc1bc.aspx" target="_blank"><b>汉宫春·着破荷衣</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%ae%8b%e4%bb%a3" target="_blank">宋代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e8%b5%b5%e6%b1%9d%e8%8c%aa" target="_blank">赵汝茪</a></p>
                <div class="contson" id="contson5dab566dc1bc">
                    着破荷衣，笑西风吹我，又落西湖。湖间旧时饮者，今与谁俱？山山映带，似携来、画卷重舒。三十里，芙蓉步障，依然红翠相扶。<br />一目清无留处，任屋浮天上，身集空虚。残烧夕阳过雁，点点疏疏。故人老大，好襟怀，消减全无。慢赢得，秋风两耳，冷泉亭下骑驴。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg68254" name="0" onload="selectLike(68254)" onclick="changeLike(68254,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(68254)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%875dab566dc1bc%e3%80%8a%e6%b1%89%e5%ae%ab%e6%98%a5%c2%b7%e7%9d%80%e7%a0%b4%e8%8d%b7%e8%a1%a3%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay68254" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e6%99%af" target="_blank">写景</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%8a%92%e6%83%85" target="_blank">抒情</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e4%bc%a4%e6%80%80" target="_blank">伤怀</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%84%9f%e6%85%a8" target="_blank">感慨</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%af%82%e5%af%9e" target="_blank">寂寞</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('f3dcb79aad0d','http://www.gushiwen.org/default.aspx')" id="btnBeisongf3dcb79aad0d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('f3dcb79aad0d')" id="btnShangxif3dcb79aad0d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('f3dcb79aad0d')" id="btnZhushif3dcb79aad0d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('f3dcb79aad0d')" id="btnYiwenf3dcb79aad0d" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxif3dcb79aad0d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushif3dcb79aad0d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwenf3dcb79aad0d").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_f3dcb79aad0d.aspx" target="_blank"><b>巴女词</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3" target="_blank">唐代</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e6%9d%8e%e7%99%bd" target="_blank">李白</a></p>
                <div class="contson" id="contsonf3dcb79aad0d">
                    巴水急如箭，巴船去若飞。<br />十月三千里，郎行几岁归。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg8521" name="0" onload="selectLike(8521)" onclick="changeLike(8521,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(8521)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%87f3dcb79aad0d%e3%80%8a%e5%b7%b4%e5%a5%b3%e8%af%8d%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay8521" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e4%ba%ba" target="_blank">写人</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%a5%b3%e5%ad%90" target="_blank">女子</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%88%86%e5%88%ab" target="_blank">分别</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e4%b8%8d%e8%88%8d" target="_blank">不舍</a>

            </div>

        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('6a2774dd3522','http://www.gushiwen.org/default.aspx')" id="btnBeisong6a2774dd3522"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('6a2774dd3522')" id="btnShangxi6a2774dd3522"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('6a2774dd3522')" id="btnZhushi6a2774dd3522"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('6a2774dd3522')" id="btnYiwen6a2774dd3522" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi6a2774dd3522").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi6a2774dd3522").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen6a2774dd3522").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="https://so.gushiwen.org/shiwenv_6a2774dd3522.aspx" target="_blank"><b>疾邪诗二首</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e4%b8%a4%e6%b1%89" target="_blank">两汉</a><span>：</span><a href="https://so.gushiwen.org/search.aspx?value=%e8%b5%b5%e5%a3%b9" target="_blank">赵壹</a></p>
                <div class="contson" id="contson6a2774dd3522">
                    <p>河清不可恃，人寿不可延。<br />顺风激靡草，富贵者称贤。<br />文籍虽满腹，不如一囊钱。<br />伊优北堂上，肮脏倚门边。</p>
                    <p>势家多所宜，咳唾自成珠。<br />被褐怀金玉，兰蕙化为刍。<br />贤者虽独悟，所困在群愚。<br />且各守尔分，勿复空驰驱。<br />哀哉复哀哉，此是命矣夫！</p>
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg47945" name="0" onload="selectLike(47945)" onclick="changeLike(47945,'http://www.gushiwen.org/default.aspx')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>
                <div class="toolpinglun"><a href="javascript:copy(47945)"><img src="https://song.gushiwen.org/siteimg/copy.png" alt="复制" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="https://so.gushiwen.org/jiucuo.aspx?u=%e8%af%97%e6%96%876a2774dd3522%e3%80%8a%e7%96%be%e9%82%aa%e8%af%97%e4%ba%8c%e9%a6%96%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay47945" style=" display:none;clear:both;"></div>


            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%a4%be%e4%bc%9a" target="_blank">社会</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e4%bb%95%e9%80%94" target="_blank">仕途</a>

            </div>

        </div>

        <form id="FromPage" method="get" action="/default.aspx" onsubmit="return PageSubmit()">
            <div class="pagesright">
                <a id="amore" class="amore" href="/default_2.aspx">下一页</a>
                <a style=" color:#808080;background-color:#e7e6d8;">上一页</a>
                <span style=" background-color:#E1E0C7; border:0px; margin-top:22px; width:auto;">/ 10页</span>
                <span class="curent"><input id="putpage" name="page" value="1" autocomplete="off" onblur="SubPage()" /></span>
                <label id="temppage" style="display:none;">1</label>
                <label id="sumPage" style="display:none;">10</label>
            </div>
        </form>
    </div>


    <div class="right">
        <div class="sons">
            <div class="title">
                <div class="titleleft"></div>
                诗文
            </div>
            <div class="cont">
                <a href="https://so.gushiwen.org/gushi/tangshi.aspx" target="_blank">唐诗三百</a>
                <a href="https://so.gushiwen.org/gushi/sanbai.aspx" target="_blank">古诗三百</a>
                <a href="https://so.gushiwen.org/gushi/songsan.aspx" target="_blank">宋词三百</a>
                <a href="https://so.gushiwen.org/gushi/songci.aspx" target="_blank">宋词精选</a>
                <a href="https://so.gushiwen.org/gushi/shijiu.aspx" target="_blank">古诗十九</a>
                <a href="https://so.gushiwen.org/gushi/shijing.aspx" target="_blank">诗经</a>
                <a href="https://so.gushiwen.org/gushi/chuci.aspx" target="_blank">楚辞</a>
                <a href="https://so.gushiwen.org/gushi/yuefu.aspx" target="_blank">乐府</a>
                <a href="https://so.gushiwen.org/gushi/xiaoxue.aspx" target="_blank">小学古诗</a>
                <a href="https://so.gushiwen.org/wenyan/xiaowen.aspx" target="_blank">小学文言</a>
                <a href="https://so.gushiwen.org/gushi/chuzhong.aspx" target="_blank">初中古诗</a>
                <a href="https://so.gushiwen.org/wenyan/chuwen.aspx" target="_blank">初中文言</a>
                <a href="https://so.gushiwen.org/gushi/gaozhong.aspx" target="_blank">高中古诗</a>
                <a href="https://so.gushiwen.org/wenyan/gaowen.aspx" target="_blank">高中文言</a>
                <a href="https://so.gushiwen.org/gushi/xiejing.aspx" target="_blank">写景</a>
                <a href="https://so.gushiwen.org/gushi/yongwu.aspx" target="_blank">咏物</a>
                <a href="https://so.gushiwen.org/gushi/chuntian.aspx" target="_blank">春天</a>
                <a href="https://so.gushiwen.org/gushi/xiatian.aspx" target="_blank">夏天</a>
                <a href="https://so.gushiwen.org/gushi/qiutian.aspx" target="_blank">秋天</a>
                <a href="https://so.gushiwen.org/gushi/dongtian.aspx" target="_blank">冬天</a>
                <a href="https://so.gushiwen.org/gushi/yu.aspx" target="_blank">写雨</a>
                <a href="https://so.gushiwen.org/gushi/xue.aspx" target="_blank">写雪</a>
                <a href="https://so.gushiwen.org/gushi/feng.aspx" target="_blank">写风</a>
                <a href="https://so.gushiwen.org/gushi/hua.aspx" target="_blank">写花</a>
                <a href="https://so.gushiwen.org/gushi/meihua.aspx" target="_blank">梅花</a>
                <a href="https://so.gushiwen.org/gushi/hehua.aspx" target="_blank">荷花</a>
                <a href="https://so.gushiwen.org/gushi/juhua.aspx" target="_blank">菊花</a>
                <a href="https://so.gushiwen.org/gushi/liushu.aspx" target="_blank">柳树</a>
                <a href="https://so.gushiwen.org/gushi/yueliang.aspx" target="_blank">月亮</a>
                <a href="https://so.gushiwen.org/gushi/shanshui.aspx" target="_blank">山水</a>
                <a href="https://so.gushiwen.org/gushi/shan.aspx" target="_blank">写山</a>
                <a href="https://so.gushiwen.org/gushi/shui.aspx" target="_blank">写水</a>
                <a href="https://so.gushiwen.org/gushi/changjiang.aspx" target="_blank">长江</a>
                <a href="https://so.gushiwen.org/gushi/huanghe.aspx" target="_blank">黄河</a>
                <a href="https://so.gushiwen.org/gushi/ertong.aspx" target="_blank">儿童</a>
                <a href="https://so.gushiwen.org/gushi/niao.aspx" target="_blank">写鸟</a>
                <a href="https://so.gushiwen.org/gushi/ma.aspx" target="_blank">写马</a>
                <a href="https://so.gushiwen.org/gushi/tianyuan.aspx" target="_blank">田园</a>
                <a href="https://so.gushiwen.org/gushi/biansai.aspx" target="_blank">边塞</a>
                <a href="https://so.gushiwen.org/gushi/diming.aspx" target="_blank">地名</a>
                <a href="https://so.gushiwen.org/gushi/jieri.aspx" target="_blank">节日</a>
                <a href="https://so.gushiwen.org/gushi/chunjie.aspx" target="_blank">春节</a>
                <a href="https://so.gushiwen.org/gushi/yuanxiao.aspx" target="_blank">元宵</a>
                <a href="https://so.gushiwen.org/gushi/hanshi.aspx" target="_blank">寒食</a>
                <a href="https://so.gushiwen.org/gushi/qingming.aspx" target="_blank">清明</a>
                <a href="https://so.gushiwen.org/gushi/duanwu.aspx" target="_blank">端午</a>
                <a href="https://so.gushiwen.org/gushi/qixi.aspx" target="_blank">七夕</a>
                <a href="https://so.gushiwen.org/gushi/zhongqiu.aspx" target="_blank">中秋</a>
                <a href="https://so.gushiwen.org/gushi/chongyang.aspx" target="_blank">重阳</a>
                <a href="https://so.gushiwen.org/gushi/huaigu.aspx" target="_blank">怀古</a>
                <a href="https://so.gushiwen.org/gushi/shuqing.aspx" target="_blank">抒情</a>
                <a href="https://so.gushiwen.org/gushi/aiguo.aspx" target="_blank">爱国</a>
                <a href="https://so.gushiwen.org/gushi/libie.aspx" target="_blank">离别</a>
                <a href="https://so.gushiwen.org/gushi/songbie.aspx" target="_blank">送别</a>
                <a href="https://so.gushiwen.org/gushi/sixiang.aspx" target="_blank">思乡</a>
                <a href="https://so.gushiwen.org/gushi/sinian.aspx" target="_blank">思念</a>
                <a href="https://so.gushiwen.org/gushi/aiqing.aspx" target="_blank">爱情</a>
                <a href="https://so.gushiwen.org/gushi/lizhi.aspx" target="_blank">励志</a>
                <a href="https://so.gushiwen.org/gushi/zheli.aspx" target="_blank">哲理</a>
                <a href="https://so.gushiwen.org/gushi/guiyuan.aspx" target="_blank">闺怨</a>
                <a href="https://so.gushiwen.org/gushi/daowang.aspx" target="_blank">悼亡</a>
                <a href="https://so.gushiwen.org/gushi/xieren.aspx" target="_blank">写人</a>
                <a href="https://so.gushiwen.org/gushi/laoshi.aspx" target="_blank">老师</a>
                <a href="https://so.gushiwen.org/gushi/muqin.aspx" target="_blank">母亲</a>
                <a href="https://so.gushiwen.org/gushi/youqing.aspx" target="_blank">友情</a>
                <a href="https://so.gushiwen.org/gushi/zhanzheng.aspx" target="_blank">战争</a>
                <a href="https://so.gushiwen.org/gushi/dushu.aspx" target="_blank">读书</a>
                <a href="https://so.gushiwen.org/gushi/xishi.aspx" target="_blank">惜时</a>
                <a href="https://so.gushiwen.org/gushi/youguo.aspx" target="_blank">忧民</a>
                <a href="https://so.gushiwen.org/gushi/wanyue.aspx" target="_blank">婉约</a>
                <a href="https://so.gushiwen.org/gushi/haofang.aspx" target="_blank">豪放</a>
                <a href="https://so.gushiwen.org/gushi/minyao.aspx" target="_blank">民谣</a>
                <a href="https://so.gushiwen.org/wenyan/guanzhi.aspx" target="_blank">古文观止</a>
                <a href="https://so.gushiwen.org/shiwen/">更多>></a>
            </div>
        </div>
        <div class="juzioncont">
            <img style=" float:left; margin:10px; margin-right:0px;" src="/app/appdown2.png" width="80" height="80" /><p><center style="font-size:18px; margin-top:14px;">扫描下载</center></p><p><center style="font-size:18px; margin-top:5px;">古诗文网客户端</center></p>
        </div>
        <div class="sons">
            <div class="title">
                <div class="titleleft"></div>
                名句
            </div>
            <div class="cont">
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e6%8a%92%e6%83%85" target="_blank">抒情</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e5%9b%9b%e5%ad%a3" target="_blank">四季</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e5%b1%b1%e6%b0%b4" target="_blank">山水</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e5%a4%a9%e6%b0%94" target="_blank">天气</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e4%ba%ba%e7%89%a9" target="_blank">人物</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e4%ba%ba%e7%94%9f" target="_blank">人生</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e7%94%9f%e6%b4%bb" target="_blank">生活</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e8%8a%82%e6%97%a5" target="_blank">节日</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e5%8a%a8%e7%89%a9" target="_blank">动物</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e6%a4%8d%e7%89%a9" target="_blank">植物</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e9%a3%9f%e7%89%a9" target="_blank">食物</a>
                <a href="https://so.gushiwen.org/mingju/Default.aspx?p=1&c=%e5%8f%a4%e7%b1%8d" target="_blank">古籍</a>
                <a href="https://so.gushiwen.org/mingju/">更多>></a>
            </div>
        </div>
        <div class="sons">
            <div class="title">
                <div class="titleleft"></div>
                作者
            </div>
            <div class="cont">
                <a href="https://so.gushiwen.org/authorv_b90660e3e492.aspx" target="_blank">李白</a>
                <a href="https://so.gushiwen.org/authorv_85097dd0c645.aspx" target="_blank">白居易</a>
                <a href="https://so.gushiwen.org/authorv_515ea88d1858.aspx" target="_blank">杜甫</a>
                <a href="https://so.gushiwen.org/authorv_3b99a16ff2dd.aspx" target="_blank">苏轼</a>
                <a href="https://so.gushiwen.org/authorv_a7900666497f.aspx" target="_blank">辛弃疾</a>
                <a href="https://so.gushiwen.org/authorv_9cb3b7c0e4a0.aspx" target="_blank">李清照</a>
                <a href="https://so.gushiwen.org/authorv_e3c4e8cf2646.aspx" target="_blank">刘禹锡</a>
                <a href="https://so.gushiwen.org/authorv_52fceee85532.aspx" target="_blank">王维</a>
                <a href="https://so.gushiwen.org/authorv_bc94c92721b8.aspx" target="_blank">李商隐</a>
                <a href="https://so.gushiwen.org/authorv_01611cc80faf.aspx" target="_blank">纳兰性德</a>
                <a href="https://so.gushiwen.org/authorv_727e9dff8850.aspx" target="_blank">杜牧</a>
                <a href="https://so.gushiwen.org/authorv_efd5da0ed1a1.aspx" target="_blank">陆游</a>
                <a href="https://so.gushiwen.org/authorv_07d17f8539d7.aspx" target="_blank">陶渊明</a>
                <a href="https://so.gushiwen.org/authorv_3811e4e1f460.aspx" target="_blank">孟浩然</a>
                <a href="https://so.gushiwen.org/authorv_201a0677dee4.aspx" target="_blank">元稹</a>
                <a href="https://so.gushiwen.org/authorv_05635286bf64.aspx" target="_blank">李煜</a>
                <a href="https://so.gushiwen.org/authorv_0ba13a22799e.aspx" target="_blank">柳宗元</a>
                <a href="https://so.gushiwen.org/authorv_0969d1da1ac1.aspx" target="_blank">岑参</a>
                <a href="https://so.gushiwen.org/authorv_1abe13750637.aspx" target="_blank">韩愈</a>
                <a href="https://so.gushiwen.org/authorv_6485481407d1.aspx" target="_blank">王安石</a>
                <a href="https://so.gushiwen.org/authorv_7ab3b8200774.aspx" target="_blank">欧阳修</a>
                <a href="https://so.gushiwen.org/authorv_236f882d5f10.aspx" target="_blank">齐己</a>
                <a href="https://so.gushiwen.org/authorv_568070f3fde8.aspx" target="_blank">贾岛</a>
                <a href="https://so.gushiwen.org/authorv_00ea9cc9fdbf.aspx" target="_blank">韦应物</a>
                <a href="https://so.gushiwen.org/authorv_f4d9b1ed94dc.aspx" target="_blank">曹操</a>
                <a href="https://so.gushiwen.org/authorv_c367ccd8cd08.aspx" target="_blank">温庭筠</a>
                <a href="https://so.gushiwen.org/authorv_682bdf0fd34e.aspx" target="_blank">柳永</a>
                <a href="https://so.gushiwen.org/authorv_b3e23d54ee99.aspx" target="_blank">刘长卿</a>
                <a href="https://so.gushiwen.org/authorv_74d46d599f15.aspx" target="_blank">李贺</a>
                <a href="https://so.gushiwen.org/authorv_6c695909f577.aspx" target="_blank">曹植</a>
                <a href="https://so.gushiwen.org/authorv_d9343fa5dac7.aspx" target="_blank">王昌龄</a>
                <a href="https://so.gushiwen.org/authorv_9c69482f885f.aspx" target="_blank">屈原</a>
                <a href="https://so.gushiwen.org/authorv_677ad0bb97e7.aspx" target="_blank">杨万里</a>
                <a href="https://so.gushiwen.org/authorv_e6b970da08cd.aspx" target="_blank">王勃</a>
                <a href="https://so.gushiwen.org/authorv_05460f6423b0.aspx" target="_blank">张籍</a>
                <a href="https://so.gushiwen.org/authorv_2f7f3273612a.aspx" target="_blank">孟郊</a>
                <a href="https://so.gushiwen.org/authorv_c2c3edb9c1b1.aspx" target="_blank">范仲淹</a>
                <a href="https://so.gushiwen.org/authorv_e82a672a1ca9.aspx" target="_blank">诸葛亮</a>
                <a href="https://so.gushiwen.org/authors/">更多>></a>
            </div>
        </div>
        <div class="juzioncont">
            <img style=" float:left; margin:10px; margin-right:0px;" src="/app/weixin.png" width="80" height="80" /><p><center style="font-size:18px; margin-top:14px;">扫描关注</center></p><p><center style="font-size:18px;margin-top:5px;">诗词秀公众号</center></p>
        </div>
        <div class="sons">
            <div class="title">
                <div class="titleleft"></div>
                古籍
            </div>
            <div class="cont">
                <a href="https://so.gushiwen.org/guwen/book_2.aspx" target="_blank">论语</a>
                <a href="https://so.gushiwen.org/guwen/book_5.aspx" target="_blank">史记</a>
                <a href="https://so.gushiwen.org/guwen/book_6.aspx" target="_blank">周易</a>
                <a href="https://so.gushiwen.org/guwen/book_7.aspx" target="_blank">易传</a>
                <a href="https://so.gushiwen.org/guwen/book_11.aspx" target="_blank">孟子</a>
                <a href="https://so.gushiwen.org/guwen/book_19.aspx" target="_blank">左传</a>
                <a href="https://so.gushiwen.org/guwen/book_20.aspx" target="_blank">大学</a>
                <a href="https://so.gushiwen.org/guwen/book_21.aspx" target="_blank">中庸</a>
                <a href="https://so.gushiwen.org/guwen/book_22.aspx" target="_blank">尚书</a>
                <a href="https://so.gushiwen.org/guwen/book_23.aspx" target="_blank">礼记</a>
                <a href="https://so.gushiwen.org/guwen/book_24.aspx" target="_blank">周礼</a>
                <a href="https://so.gushiwen.org/guwen/book_25.aspx" target="_blank">仪礼</a>
                <a href="https://so.gushiwen.org/guwen/book_26.aspx" target="_blank">庄子</a>
                <a href="https://so.gushiwen.org/guwen/book_28.aspx" target="_blank">老子</a>
                <a href="https://so.gushiwen.org/guwen/book_11.aspx" target="_blank">孟子</a>
                <a href="https://so.gushiwen.org/guwen/book_29.aspx" target="_blank">墨子</a>
                <a href="https://so.gushiwen.org/guwen/book_30.aspx" target="_blank">荀子</a>
                <a href="https://so.gushiwen.org/guwen/book_32.aspx" target="_blank">列子</a>
                <a href="https://so.gushiwen.org/guwen/book_34.aspx" target="_blank">管子</a>
                <a href="https://so.gushiwen.org/guwen/book_36.aspx" target="_blank">吴子</a>
                <a href="https://so.gushiwen.org/guwen/book_39.aspx" target="_blank">素书</a>
                <a href="https://so.gushiwen.org/guwen/book_45.aspx" target="_blank">孝经</a>
                <a href="https://so.gushiwen.org/guwen/book_55.aspx" target="_blank">将苑</a>
                <a href="https://so.gushiwen.org/guwen/book_56.aspx" target="_blank">六韬</a>
                <a href="https://so.gushiwen.org/guwen/book_57.aspx" target="_blank">反经</a>
                <a href="https://so.gushiwen.org/guwen/book_71.aspx" target="_blank">冰鉴</a>
                <a href="https://so.gushiwen.org/guwen/book_74.aspx" target="_blank">论衡</a>
                <a href="https://so.gushiwen.org/guwen/book_78.aspx" target="_blank">智囊</a>
                <a href="https://so.gushiwen.org/guwen/book_40.aspx" target="_blank">汉书</a>
                <a href="https://so.gushiwen.org/guwen/">更多>></a>
            </div>
        </div>
    </div>

</div>

{{template "footer" .}}
</body>
</html>

