{{template "header" .}}
<link href="{{.cdnDomain}}/static/css/skinSo20190816.css" rel="stylesheet" type="text/css" />
<body onclick="closeshowBos()">
{{template "nav" .}}

{{$poetryInfo := .contentData.PoetryText.PoetryInfo}}
{{$authorInfo := .contentData.PoetryAuthor}}
{{$content := .contentData}}
{{$cdnDomain := .cdnDomain}}
{{$webDomain := .webDomain}}
<div class="main3">
    <div class="left">
        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare{{$poetryInfo.SourceUrlCrc32}}">{{.contentData.PoetryText.OriContent}} {{.contentData.PoetryText.LinkUrl}}</textarea>
        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="{{$cdnDomain}}/static/images/Shangxi.png"  width="25" height="25" alt="赏析" data-type="0" onclick="OnNewShangxi('{{$poetryInfo.SourceUrlCrc32}}','Shangxi')" id="btnShangxi{{$poetryInfo.SourceUrlCrc32}}"/>
                    <img  src="{{$cdnDomain}}/static/images/Yiwen.png" width="25" height="25" alt="译文" data-type="0" onclick="OnNewShangxi('{{$poetryInfo.SourceUrlCrc32}}','Yiwen')" id="btnYiwen{{$poetryInfo.SourceUrlCrc32}}" />
                </div>
                <p>
                    <a style="font-size:18px; line-height:22px; height:22px;" href="{{$content.PoetryText.LinkUrl}}" target="_blank">
                        <b>{{$poetryInfo.Title}}</b>
                    </a>
                </p>
                <p class="source">
                    <a href="{{$authorInfo.DynastyLinkUrl}}" target="_blank">{{$authorInfo.DynastyName}}</a>
                    <span>：</span><a href="{{$authorInfo.AuthorLinkUrl}}" target="_blank">{{$authorInfo.AuthorInfo.Author}}</a>
                </p>
                <div class="contson" id="contson{{$poetryInfo.SourceUrlCrc32}}">
                    {{$poetryInfo.Content|unescaped}}
                    <span id="notes{{$poetryInfo.SourceUrlCrc32}}"></span>
                </div>
            </div>
            <div class="tool">
                <div class="toolpinglun"><a title="复制" href="javascript:copy({{$poetryInfo.SourceUrlCrc32}})"><img src="{{$cdnDomain}}/static/images/copy.png" alt="复制" width="18" height="18" /></a></div>
                <div class="jiucuo"><a href="{{$webDomain}}/perfect?u={{$poetryInfo.SourceUrlCrc32}}" target="_blank">完善</a></div>
            </div>
            <div class="tag">
                {{range $j,$tag := $content.Tags}}
                    {{if ge $j 1}}
                        <span>，</span>
                    {{end}}
                    <a href="{{$webDomain}}/shiwen/search/?type=tag&cstr={{$tag.CatName}}" target="_blank">{{$tag.CatName}}</a>
                {{end}}
            </div>
        </div>

        <div id="fanyi55047" class="sons" style="position:relative; z-index:0px;">
            <div class="contyishang" style="padding-bottom:10px;">
                <div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(https://song.gushiwen.org/siteimg/morebg.png); background-repeat:repeat-x; cursor:pointer; -webkit-tap-highlight-color: transparent;" onclick="fanyiShow(55047)"></div>
                <div style="height:30px; font-weight:bold; font-size:16px; margin-bottom:10px; clear:both;">
                    <h2><span style="float:left;">译文及注释</span></h2>
                    <a style="float:left; margin-top:7px; margin-left:5px;" href="javascript:PlayFanyi(55047)"><img id="speakerimgFanyi55047" src="https://song.gushiwen.org/siteimg/speaker.png"  alt="" width="16" height="16"/></a>
                    <span id="fanyiPlay55047" style=" display:none;width:1px; height:1px; float:left;"></span>
                </div>
                <p>译文<br />别后的相思之情绵绵不绝，如丝般纷乱，让他辗转反侧，不能入睡。更何况好不容易入睡后，竟然还梦到了家乡，使人越发感伤。起来倾听那边塞半夜的雨声，却回忆起在家中小楼上我们挑灯夜话的情景。<br />认真地书写，对你的思念格外分明，天生的多愁善感使自己变得多情。起身用嘴中的热气暖手，将家书封好，偏偏看到“鸳鸯”二字时，心痛又被触动，手又僵了起来。</p>
                <p>注释<br />于中好：即《鹧鸪天》，词牌名。双调五十五字，前后阕各三平韵，一韵到底。上阕第三四句、下阕第一二句一般要求对仗。也是曲牌名。<br />如丝：形容绵绵不绝。<br />孤枕：独眠。边城：临近边界的城市。
                <div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(55047)">展开阅读全文 ∨</a></div>
            </div>
        </div>
        <div id="fanyiquan55047" class="sons" style="display:none;"></div>

        <div class="sons">
            <div class="contyishang">
                <div style="height:30px; font-weight:bold; font-size:16px; margin-bottom:10px; clear:both;">
                    <h2><span style="float:left;">创作背景</span></h2>
                    <a style="float:left; margin-top:7px; margin-left:5px;" href="javascript:PlayShangxi(40615)"><img id="speakerimgShangxi40615" src="https://song.gushiwen.org/siteimg/speaker.png"  alt="" width="16" height="16"/></a>
                    <span id="shangxiPlay40615" style=" display:none;width:1px; height:1px; float:left;"></span>
                </div>
                <p>　　词或作于康熙二十一年（1682年）秋月，纳兰去梭龙勘察，塞上怀远，心念闺中妻子而作。</p>
            </div>

            <div class="cankao">

                <p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>

                <div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
                    <span style="width:20px; float:left;">1、</span>
                    <span style="width:610px; float:left;">闵泽平编著．纳兰词全集 汇编汇评汇校：崇文书局，2012.03：第141页</span>
                </div>

            </div>
        </div>



        <div id="shangxi40616" class="sons" style="position:relative; z-index:0px;">
            <div class="contyishang" style="padding-bottom:10px;">
                <div style="z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(https://song.gushiwen.org/siteimg/morebg.png); background-repeat:repeat-x; cursor:pointer; -webkit-tap-highlight-color: transparent;" onclick="shangxiShow(40616)"></div>
                <div style="height:30px; font-weight:bold; font-size:16px; margin-bottom:10px; clear:both;">
                    <h2><span style="float:left;">赏析</span></h2>
                    <a style="float:left; margin-top:7px; margin-left:5px;" href="javascript:PlayShangxi(40616)"><img id="speakerimgShangxi40616" src="https://song.gushiwen.org/siteimg/speaker.png"  alt="" width="16" height="16"/></a>
                    <span id="shangxiPlay40616" style=" display:none;width:1px; height:1px; float:left;"></span>
                </div>
                <p>　　上片写词人对家人的怀念。首句“别绪如丝睡不成”，情意坦诚，多情公子这时正在塞上，分离后的思念令他辗转反侧，无法入眠，而“那堪孤枕梦边城”一句就更进一步地表明了纳兰的愁思之深。一般说来，“梦边城”应当解释为“梦见边城”，可是联系上下文，应该解释成“梦于边城”。孤枕难眠，所以纳兰索性披衣起床，去倾听那夜半塞外的冷雨声。但邢夜雨声就像伤心人拨弄琴瑟的弦声，悲凄彻骨，每一声都敲打着纳兰那颗满是悲愁的心，也更加引发了他的思念，令他不由想起了家里的妻子，心想这时的她会不会也正在想念着自己。</p>
                <p>　　下片从书信落笔，进一步抒发了自己的相思情怀。这时的思念之情好像春天的杂草似的，疯狂生长
                <div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(40616)">展开阅读全文 ∨</a></div>
            </div>
        </div>
        <div id="shangxiquan40616" class="sons" style="display:none;"></div>

        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor{{$authorInfo.AuthorInfo.Id}}"> {{$authorInfo.AuthorInfo.AuthorIntro}}  {{$webDomain}}/author/detail?value={{$authorInfo.AuthorInfo.Author}}</textarea>
        </div>
        <div class="sonspic">
            <div class="cont" style="margin-top:13px;">

                <div class="divimg" style="margin-top:2px;">
                    <a href="{{$webDomain}}/author/detail?value={{$authorInfo.AuthorInfo.Author}}">
                        <img src="{{.authorProfileAddress}}" width="105" height="150" alt="{{$authorInfo.AuthorInfo.Author}}"/>
                    </a>
                </div>

                <p style="height:22px;">
                    <a style="font-size:18px; line-height:22px; height:22px;" href="{{$webDomain}}/author/detail?value={{$authorInfo.AuthorInfo.Author}}"><b>{{$authorInfo.AuthorInfo.Author}}</b></a>
                </p>
                <p style=" margin:0px;">{{$authorInfo.AuthorInfo.AuthorIntro}} {{if gt $authorInfo.AuthorInfo.PoetryCount 0}}<a href="{{$webDomain}}/author/poetryList?value={{$authorInfo.AuthorInfo.Author}}">► {{$authorInfo.AuthorInfo.PoetryCount}}篇诗文</a>{{end}} </p>
            </div>
            <div class="tool">
                <div class="toolpinglun"><a href="javascript:copyAuthor({{$authorInfo.AuthorInfo.Id}})"><img src="{{$cdnDomain}}/static/images/copy.png" alt="复制" width="18" height="18" /></a></div>
                <div class="jiucuo"><a href="{{$webDomain}}/perfect?type=authorDetail&u={{$authorInfo.AuthorInfo.Id}}" target="_blank">完善</a></div>
            </div>
        </div>

        <div class="title">
            <div class="titleleft"></div>
            猜您喜欢
        </div>

        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare307">塞外悲风切，交河冰已结。瀚海百重波，阴山千里雪。 迥戍危烽火，层峦引高节。悠悠卷旆旌，饮马出长城。 寒沙连骑迹，朔吹断边声。胡尘清玉塞，羌笛韵金钲。 绝漠干戈戢，车徒振原隰。都尉反龙堆，将军旋马邑。 扬麾氛雾静，纪石功名立。荒裔一戎衣，灵台凯歌入。——唐代·李世民《饮马长城窟行》https://so.gushiwen.org/shiwenv_fd6555f7e9fa.aspx</textarea>
        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('fd6555f7e9fa','http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" id="btnBeisongfd6555f7e9fa"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('fd6555f7e9fa')" id="btnShangxifd6555f7e9fa"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('fd6555f7e9fa')" id="btnZhushifd6555f7e9fa"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('fd6555f7e9fa')" id="btnYiwenfd6555f7e9fa" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxifd6555f7e9fa").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushifd6555f7e9fa").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwenfd6555f7e9fa").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="/shiwenv_fd6555f7e9fa.aspx"><b>饮马长城窟行</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e4%b8%96%e6%b0%91">李世民</a></p>
                <div class="contson" id="contsonfd6555f7e9fa">
                    塞外悲风切，交河冰已结。瀚海百重波，阴山千里雪。 <br />迥戍危烽火，层峦引高节。悠悠卷旆旌，饮马出长城。 <br />寒沙连骑迹，朔吹断边声。胡尘清玉塞，羌笛韵金钲。 <br />绝漠干戈戢，车徒振原隰。都尉反龙堆，将军旋马邑。 <br />扬麾氛雾静，纪石功名立。荒裔一戎衣，灵台凯歌入。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg307" name="0" onload="selectLike(307)" onclick="changeLike(307,'http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="/jiucuo.aspx?u=%e8%af%97%e6%96%87fd6555f7e9fa%e3%80%8a%e9%a5%ae%e9%a9%ac%e9%95%bf%e5%9f%8e%e7%aa%9f%e8%a1%8c%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay307" style=" display:none;clear:both;"></div>

            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%ac%e5%a4%a9">冬天</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e8%be%b9%e5%a1%9e">边塞</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%88%b1%e5%9b%bd">爱国</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%88%98%e4%ba%89">战争</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%94%9f%e6%b4%bb">生活</a>

            </div>

        </div>

        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71318">蕃州部落能结束，朝暮驰猎黄河曲。燕歌未断塞鸿飞，牧马群嘶边草绿。——唐代·李益《塞下曲·其一》https://so.gushiwen.org/shiwenv_1d86600eb9cf.aspx</textarea>
        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('1d86600eb9cf','http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" id="btnBeisong1d86600eb9cf"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('1d86600eb9cf')" id="btnShangxi1d86600eb9cf"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('1d86600eb9cf')" id="btnZhushi1d86600eb9cf"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('1d86600eb9cf')" id="btnYiwen1d86600eb9cf" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxi1d86600eb9cf").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushi1d86600eb9cf").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwen1d86600eb9cf").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="/shiwenv_1d86600eb9cf.aspx"><b>塞下曲·其一</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%9b%8a">李益</a></p>
                <div class="contson" id="contson1d86600eb9cf">
                    蕃州部落能结束，朝暮驰猎黄河曲。<br />燕歌未断塞鸿飞，牧马群嘶边草绿。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg71318" name="0" onload="selectLike(71318)" onclick="changeLike(71318,'http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="/jiucuo.aspx?u=%e8%af%97%e6%96%871d86600eb9cf%e3%80%8a%e5%a1%9e%e4%b8%8b%e6%9b%b2%c2%b7%e5%85%b6%e4%b8%80%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay71318" style=" display:none;clear:both;"></div>

            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e8%be%b9%e5%a1%9e">边塞</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%b0%86%e5%a3%ab">将士</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e7%94%9f%e6%b4%bb">生活</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%99%e6%99%af">写景</a>

            </div>

        </div>

        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14934">回乐峰前沙似雪，受降城外月如霜。(回乐峰 一作：回乐烽）不知何处吹芦管，一夜征人尽望乡。——唐代·李益《夜上受降城闻笛》https://so.gushiwen.org/shiwenv_d89eb1125b6d.aspx</textarea>
        </div>
        <div class="sons">
            <div class="cont">
                <div class="yizhu">
                    <img src="https://song.gushiwen.org/siteimg/beipic.png"  width="25" height="25" alt="背诵" onclick="OnBeisong('d89eb1125b6d','http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" id="btnBeisongd89eb1125b6d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/shangpic.png"  width="25" height="25" alt="赏析" onclick="OnShangxi('d89eb1125b6d')" id="btnShangxid89eb1125b6d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/zhupic.png"  width="25" height="25" alt="注释" onclick="OnZhushi('d89eb1125b6d')" id="btnZhushid89eb1125b6d"/>
                    <img style=" display:none;" src="https://song.gushiwen.org/siteimg/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen('d89eb1125b6d')" id="btnYiwend89eb1125b6d" />

                    <script type="text/javascript">
                        document.getElementById("btnShangxid89eb1125b6d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnZhushid89eb1125b6d").style.display = "block";
                    </script>

                    <script type="text/javascript">
                        document.getElementById("btnYiwend89eb1125b6d").style.display = "block";
                    </script>

                </div>
                <p><a style="font-size:18px; line-height:22px; height:22px;" href="/shiwenv_d89eb1125b6d.aspx"><b>夜上受降城闻笛</b></a></p>
                <p class="source"><a href="https://so.gushiwen.org/shiwen/default.aspx?cstr=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%9b%8a">李益</a></p>
                <div class="contson" id="contsond89eb1125b6d">
                    回乐峰前沙似雪，受降城外月如霜。(回乐峰 一作：回乐烽）<br />不知何处吹芦管，一夜征人尽望乡。
                </div>
            </div>
            <div class="tool">
                <div class="shoucang"><img id="likeImg14934" name="0" onload="selectLike(14934)" onclick="changeLike(14934,'http://so.gushiwen.org/shiwenv.aspx?id=09c4b7fc27c0')" src="https://song.gushiwen.org/siteimg/shoucang.png" alt="收藏" width="18" height="18" /></div>
                <div class="toolpinglun"><a href="https://so.gushiwen.org/app/"><img src="https://song.gushiwen.org/siteimg/download.png" alt="下载" width="18" height="18" /></a></div>

                <div class="jiucuo"><a href="/jiucuo.aspx?u=%e8%af%97%e6%96%87d89eb1125b6d%e3%80%8a%e5%a4%9c%e4%b8%8a%e5%8f%97%e9%99%8d%e5%9f%8e%e9%97%bb%e7%ac%9b%e3%80%8b" target="_blank">完善</a></div>
            </div>
            <div id="toolPlay14934" style=" display:none;clear:both;"></div>

            <div class="tag">

                <a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%94%90%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">唐诗三百首</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e5%86%ac%e5%a4%a9">冬天</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e8%be%b9%e5%a1%9e">边塞</a>

                <span>，</span><a href="https://so.gushiwen.org/shiwen/default.aspx?tstr=%e6%80%9d%e5%bf%b5">思念</a>

            </div>

        </div>

        <div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
            <script type="text/javascript" src="//yijiuningyia.gushiwen.org/site/tpw9.js?avnueb=bdn"></script>
        </div>
    </div>
    <div class="right">
        <div class="abcd">

            <script type="text/javascript" src="//yijiuningyia.gushiwen.org/site/production/p0c0e.js?qlatnki=nr"></script>
        </div>
        <div class="juzioncont">
            <img style=" float:left; margin:10px; margin-right:0px;" src="/app/appdown2.png" width="80" height="80" /><p><center style="font-size:18px; margin-top:14px;">扫描下载</center></p><p><center style="font-size:18px; margin-top:5px;">古诗文网客户端</center></p>
        </div>
        <div class="abcd">

            <script type="text/javascript" src="//yijiuningyia.gushiwen.org/site/res/js/wmah8m.js?cxptt=dytm"></script>
        </div>
        <div class="juzioncont">
            <img style=" float:left; margin:10px; margin-right:0px;" src="/app/weixin.png" width="80" height="80" /><p><center style="font-size:18px; margin-top:14px;">扫描关注</center></p><p><center style="font-size:18px;margin-top:5px;">诗词秀公众号</center></p>
        </div>
        <div class="abcd">

            <script type="text/javascript" src="//yijiuningyia.gushiwen.org/common/site/izgy4.js?n=ixqkhkrr"></script>
        </div>
    </div>
</div>

{{template "footer" .}}
<script defer="defer" src="{{.cdnDomain}}/static/js/skinso20190903.js" type="text/javascript"></script>
</body>
</html>
