{{define "footer"}}
    <div class="main4">
        © 2019 <a href="/">古诗文网</a> | <a href="/search/shiwen/">诗文</a> | <a href="/famous/">名句</a> | <a href="/author/list/">作者</a> | <a href="/guwen/">古籍</a>
    </div>
<script type="text/javascript">
    window.onload = function () {
        setIframeHeight(document.getElementById('external-frame'));
    };
    console.log("白日依山尽，\n黄河入海流。\n" +
        "欲穷千里目，\n更上一层楼。\n")
    console.log("个人简介： php; golang 开发者，\n联系方式： E-mail：strive965432@gmail.com ;  \n          QQ: 1598484330")
  </script>
{{end}}
