{{define "header"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="content-type"  content="text/html;charset=utf-8" />
    <title>{{.title}}</title>
    <meta name="description" content="{{.description}}" />
    <script type="text/javascript">
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            window.location.href = "https://m.gushiwen.org/default_1.aspx";
        }
        // else  if (document.referrer == '') {
        //     window.location.href = "/";
        // }
    </script>
</head>
{{end}}

