{{define "header"}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="content-type"  content="text/html;charset=utf-8" />
    <title>古诗文网-古诗文经典传承</title>
    <meta name="description" content="古诗文网作为传承经典的网站成立于2011年。古诗文网专注于古诗文服务，致力于让古诗文爱好者更便捷地发表及获取古诗文相关资料。" />
    <script type="text/javascript">
        if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
            window.location.href = "https://m.gushiwen.org/default_1.aspx";
        }
        else  if (document.referrer == '') {
            window.location.href = "/";
        }
    </script>
    <link href="/static/css/skinSo20190727.css" rel="stylesheet" type="text/css" />
</head>
{{end}}

