{{define "nav"}}
 <div class="main1">
     <div class="cont">
         <div class="left">
             <h1><a href="/">古诗文网</a></h1>
         </div>
         <div class="right">
             <div class="son1">
                 <a {{if eq .urlPath "/"}} style="margin-left:1px;background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;"{{end}} href="/">推荐</a>
                 <a  {{if eq .urlPath "shiwen"}} style="margin-left:1px;background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;"{{end}} href="/search/shiwen/">诗文</a>
                 <a {{if eq .urlPath "famous"}}style="margin-left:1px;background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;"{{end}}href="/famous/">名句</a>
                 <a {{if eq .urlPath "author"}}style="margin-left:1px;background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;"{{end}} href="/author/list">作者</a>
                 <a {{if eq .urlPath "guwen"}}style="margin-left:1px;background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;"{{end}} href="/guwen/">古籍</a>
             </div>
             <div class="son2">
                 <div id="box"></div>
             </div>
         </div>
     </div>

 </div>
{{end}}


