{{template "header" .}}
<link href="{{.cdnDomain}}/css/skinSo20191017.css?version={{.version}}" rel="stylesheet" type="text/css" />

<body onclick="closeshowBos()">
{{template "nav" .}}
{{$cdnDomain := .cdnDomain}}
{{$webDomain := .webDomain}}
{{$UrlSuffix:=.UrlSuffix}}

<div class="main3">
    <div class="left">
        <div style=" width:1px; height:1px; overflow:hidden;">
            <textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor{{.bookData.Id}}">{{.bookData.BookIntroduction}} {{$webDomain}}/guwen/detail/{{.bookData.Id}}</textarea>
        </div>
        <div class="sonspic">
            <div class="cont">
                <div class="divimg">
                    <img src="{{.bookData.CoverChart}}" width="105" height="150" alt="{{.bookData.BookTitle}}"/>
                </div>
                <h1 style="height:22px; margin-bottom:10px;">
                    <span style="font-size:20px; line-height:22px; height:22px;"><b>{{.bookData.BookTitle}}</b></span>
                    <a style="margin-left:5px;" href="javascript:PlayBook({{.bookData.Id}})">
                        <img id="speakerimgBook{{.bookData.Id}}" src="{{$cdnDomain}}/images/speaker.png"  alt="" width="16" height="16"/></a>
                    <span id="bookPlay{{.bookData.Id}}" style=" display:none;width:1px; height:1px;"></span>
                </h1>
                <p style=" margin:0px;">
                    　　{{.bookData.BookIntroduction}}
                    {{if gt .bookData.FamousTotal 0}}
                    <a target="_blank" href="/famous/?c=古籍&t={{.bookData.BookTitle}}">► {{.bookData.FamousTotal}}条名句</a>{{end}}
                </p>
            </div>
            <div class="tool">
                <div class="toolpinglun"><a href="javascript:copyAuthor({{.bookData.Id}})">
                        <img src="{{$cdnDomain}}/images/copy.png" alt="复制" width="18" height="18" /></a>
                </div>
            </div>
        </div>
        <div class="sons">
           {{range $i,$log := .catalogList}}
               {{if $log.ClassName}}
            <div class="bookcont">
            <div class="bookMl"><strong>{{$log.ClassName}}</strong></div>
                    <div class="bookcont">
                        <div style=" clear:both; overflow:hidden; height:auto;">
                           {{range $j,$sublog := $log.SubCatalog}}
                              <span><a href="/guwen/book/{{$sublog.Id}}{{$UrlSuffix}}">{{$sublog.CatalogTitle}}</a></span>
                           {{end}}
                        </div>
                    </div>
            </div>
                    {{else}}
            <div class="bookcont" style=" border:0px;">
            <ul>
            {{range $j,$sublog := $log.SubCatalog}}
                  <span><a href="/guwen/book/{{$sublog.Id}}{{$UrlSuffix}}">{{$sublog.CatalogTitle}}</a></span>
            {{end}}
            </ul>
            </div>
               {{end}}
          {{end}}
        </div>
    </div>
    <div class="right"></div>
</div>

{{template "footer" .}}
<script type="text/javascript">
    window.onload = function () {
        setIframeHeight(document.getElementById('external-frame'));
    };
    var cdnDomain = "{{$cdnDomain}}";
</script>
<script defer="defer" src="{{.cdnDomain}}/js/skinso20190931.js?version={{.version}}" type="text/javascript"></script>
</body>
</html>
